{% load static %}
<!doctype html>
<html lang="en">

<head>
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'style.css' %}" />
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'normalize.css' %}" />
  
</head>
{% load classes_extras %}
  <body>
    <div class="container">

      <div class="row">
	{% if user.is_authenticated %}
	
	<div class="col col-left">
	  Hi <a href="/accounts/profile/{{ user.pk }}">{{ user.username }}</a>!
	</div>
	<div class="col-6 col-centered">
	  <a href="/ranking">
	  Your Rank: {% get_rank user.pk %}
	  ({% get_diff_to_next user.pk %})
	  </a>
	</div>
	<div class="col col-right">
	  <a href="{% url 'logout' %}">logout</a>
	</div>

	{% else %}
	
	<div class="col col-left">
	  You are not logged in.
	</div>
	<div class="col col-right">
	  <a href="{% url 'login' %}">Login </a> /
	  <a class="" href="/accounts/signup">Sign up</a>
	</div>

	{% endif %}
      </div>


      {% block content %}{% endblock %}
    </div>
  </body>
</html>
