body {
	font-family:"trebuchet MS", verdana, arial, sans-serif;
	background:#000000;
	word-wrap:break-word;
	color: #5ba0fb;
	text-align: center;
}

.container {
    max-width: 640px;
}

.col-centered{
    #float: none;
    margin: 0 auto;
    text-align: center;
}

.col-left{
    text-align: left;
}

.col-right{
    text-align: right;
}


button{
    border-radius: 5px;
}

.play-list-button{
    width: 8em;
    padding: .5em;
    margin: 1em;
    Background: black;
    color: white;
    border-color: #5ba0fb;
}

.candidate-img{
    border: solid;
    border-width: 1px;
    border-radius: 0px;
    border-color: #5ba0fb;
    padding: 2px;
    margin-bottom: 1em;
    margin-top: 1em;
}


table {
    margin: 0 auto;
} 

.signup-text {
    margin-top: 2em;
    text-decoration: underline;
}

.profile {
    margin-top: 3em;
}

h3 {
    text-decoration:underline;
    margin-bottom: 1em;
}

h4 {
    text-decoration:underline;
}

td {
    padding-right: 1em;
}
