{% extends "base.html" %}
{% block title}
{% block content %}
{% load static %}

<div class="col-left profile">
  <div class="row">
    <div class="col">
      <h4>The Question:</h4>
      <p>Is there a human in the picture?</p>

      <h4>Why am I doing this?</h4>
      <p>To help build up a data set to train a machine learning system. This is part of my master thesis and I am greatful for your help :) There is also a scoring system and a highscore list ;)</p>

      <h4>What kind of data am I looking at?</h4>
      
      <p>The images displayed show top view depth data visualized as a
	gray value image. Full black is the floor and full
	white is a height of 2.55 meters => Heads are brighter then
	legs.</p>
      
      <p>The images that we want to annotate are cutouts of bigger images.</br>
	Here you see a complete image:</p>
      
      <img class="candidate-img" src="/static/examples/orig/leude.png ">
      
      <p>Did you find the humans?</p>
      
      <img class="candidate-img" src="/static/examples/orig/leude_label.png ">
      
      <p>This big image is then cutted in smaller images. These are the ones that need labels. So now we have to say in which of these is a human.</p>
      <p>But remember: later you will only see the small cutouts and <u>not</u> the big picture.</p>

      <div class="row">
	{% for image in cutouts %}
	<div class="col">
	  <img  class="candidate-img"  src=" {{ image }} ">
	</div>
	{% empty %}
	No images yet.
	{% endfor %}
      </div>

      <div class="row">
	<div class="col">
	  <p>Sometimes it is easy. But sometimes it is hard to decide.</p>
	  <h4>How to decide in edge cases?</h4>
	  <p>Rule of thumb: <b>at least half of a human should be visable!</b></p>
	  <p> Only click human if you can tell that it is a human. Dont guess like ''this might be an arm reaching into the image''.</p>
	  <p>If there is a human and a non-human object in the image:  If you can clearly tell that it is a human then mark it as human.</p>

	  <h4>What if I did a mistake?</h4>
	  <p>If you noticed it you can press the 'undo'-button and your last decision will be deleted. If you want to check your last decisions you can see them in your profile. To get there click onto your nickname in the top left. You will see the last images you labeled and you can delete your last labels as well.</p>

	  <p>If you did not notice it: Well, then the system will have to deal with it. If there is enough correctly annotated data some mistakes won't change the result too much.</p>

	  <h4>Check out more examples</h4>
	  <p>Below I added more example images so you can get an impression how images may look.<p>
	</div>
      </div>
    </div>
  
  </div>

<h4>Human:</h4>
<div class="row">
  {% for image in humans %}
  <div class="col">
    <img  class="candidate-img" src=" {{ image }} ">
  </div>
  {% empty %}
  No images yet.
  {% endfor %}
</div>

<h4>No Human:</h4>
<div class="row">
  {% for image in non_humans %}
  <div class="col">
    <img class="candidate-img" src=" {{ image }} ">
  </div>
  {% empty %}
  No images yet.
  {% endfor %}
</div>

</div>

{% endblock %}
