{% extends "base.html" %}
{% block title}
{% block content %}


<h1>Image Folders</h1>
<div class="row">
  <div class="col-xs-1 col-centered">
  <table>
    {% for folder in folder_list %}
    <tr>
      <td>{{ folder }}</td>
      <td><a href="{% url 'load-folder' folder %}">load</a></td>
    </tr>
    {% empty %}
     No image folders yet.
    {% endfor %}
  </table>
 </div>
</div>

{% endblock %}
