{% extends "base.html" %}
{% block title}
{% block content %}


<h1>Images</h1>

<p>Number of images: {{ object_list|length }}</p>
<p>Number of labels: {{ label_count }}</p>

<table>
  <tr>
    <td> <b><u>Image</u></b> </td>
    <td> <b><u>Label</u></b> </td>
{% for image in object_list %}
<tr>
  <td>{{ image.file_name }} </td>
  <td>
  {{ image.get_labels }}
  </td>
</tr>
{% empty %}
    No images yet.
{% endfor %}
</table>

{% endblock %}
