{% extends "base.html" %}
{% block title}
{% block content %}


<h1>Image Folder Content</h1>
<h2>{{ nr_of_images }} Images in "{{ folder }}"</h2>
<h2>Loaded {{ nr_created }} new Images into data base. Rest existed already</h2>
<div class="row">
  <div class="col-xs-1 col-centered">
  <table>
    {% for file in file_list %}
    <tr>
      <td>{{ file }}</td>
    </tr>
    {% empty %}
     No files in folder.
    {% endfor %}
  </table>
 </div>
</div>

{% endblock %}
