{% extends "base.html" %}
{% block title }
{% block content %}
{% load static %}
{% load classes_extras %}

<div class="row">
  <div class="col">
        <a href="/"><button id="none" type="button" class="play-list-button">Start</button></a>
  </div>
</div>

<div class="row profile">
  <div class="col">
    <h3>Highscores</h3>
    <p>We have labeled {% get_total_label_count %} images.</p>
  </div>
</div>

<div class="row">
  <div class="col col-left">
    {% get_ranking as ranking %}
    <table>
      <tr>
	<td><u>Expert</u></td>
	<td><u>Score</u></td>
      </tr>

      {% for expert in ranking %}
      
      <tr>
	<td>{{ expert.username }}</td>
	<td>{% get_user_label_count expert.pk %}</td>
      </tr>

      {% empty %}
      No scores yet.
      {% endfor %}
    </table>
  </div>
</div>


{% endblock %}
